.product-detail {    
    max-width: 500px; 
    width: 100%;
    text-align: center;
    margin: 0px auto;
}

.product-detail__img{
    width: 210px;
    height: 167px;
}

.product-detail__name{
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}

#btnViewCart, #btnBack{
    height: 32px;
    width: 100px;    
}

.product-detail__description{
    text-align: justify;
    margin-top: 5px;
} 

#btnBack{
    margin-left: 5px;
}

