ul > li {
    list-style: none;
    display: inline-block;
    width: 33%;
    height: 100%;
    margin-bottom: 40px;
}

.product-item {   
    box-sizing: border-box;    
    text-align: center;
}

.product-item > img{
    width: 210px;
    height: 167px;
}

.product-name{
    height: 50px;
}

.products-list{
    margin: 0px;
    padding: 0px;    
}

#btnCartView{
    width: 60px;
    height: 60px;
    text-decoration: none;
    display: inline-block;
    color: white;
    background: #3383FF;
    border-radius: 50%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px 0px;
    box-sizing: border-box;
    font-weight: bold;
    opacity: 1;
    transition: 0.3s;
    --webkit-transition: 0.3s;
    box-shadow: 2px 2px 10px black
}

#btnCartView:hover{
    opacity: 0.7;
}

#qntCartView{
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin-bottom: 75px;
    margin-right: 26px;
    border-radius: 50%;
    background-color: orange;
    padding: 0px 5px;
    font-weight: bold;
    color: white;
    box-shadow: 2px 2px 5px orange
}


