.container {
  width: 90%;
  margin: 0px auto;
  height: 100%;
}

.app-header{
  margin: 0px 0px;
  margin-bottom: 2%;
  text-align: center;
  letter-spacing: 4px;
}

.capitalize{
  display: inline-block;
}

.capitalize::first-letter{  
  font-weight: bolder;
  font-size: 40px;
  color: blue;
}
