*{
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.container {
  width: 95%;
  margin: 0px auto;
  height: 100%;
  margin-top: 150px;
}

.appHeader{
  position: fixed;
  width: 100%; 
  top: 0px;
  left: 0px;  
  box-sizing: border-box;
  background-color: #0000FF;
  z-index: 998;
}

.appHeader h1{
  text-align: center;
  letter-spacing: 4px;
  height: 60px;
  padding: 10px;
  color: white;
  font-weight: bolder;
}
.capitalize{
  display: inline-block;
}

.capitalize::first-letter{   
  font-size: 40px;
  color: yellow;
  text-transform: capitalize;
}
